<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"

	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
<!-- mybatis和spring的整合xml -->	

<!-- 加载db.properties(db文件的命名有一定的规则) -->
<context:property-placeholder location="classpath:db.properties"/>
	
<!--1 配置数据源 dbcp连接池 -->
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	<property name="driverClassName" value="${jdbc.driver}"/>
	<property name="url" value="${jdbc.url}"/>
	<property name="username" value="${jdbc.username}"/>
	<property name="password" value="${jdbc.password}"/>
	<property name="maxActive" value="30"/>
	<property name="maxIdle" value="5"/>
</bean>
<!-- 整合dao层 -->

<!--2配置sqlSessionFactory 
 使用的类是org.mybatis.spring.SqlSessionFactoryBean.class -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<!-- 设置数据库连接池 -->
	<property name="dataSource" ref="dataSource"/>
	<!-- 加载mybatis的全局配置文件，注意文件的路径要写对 -->
	<property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml"/>
	
	<!-- 配置分页功能 -->
	<property name="typeAliasesPackage" value="com.sm1.pojo"></property>
			<property name="plugins">
				<array>
					<bean class="com.github.pagehelper.PageHelper">        
						<property name="properties">
							<value>
								dialect=mysql
							</value>
						</property>
					</bean>
				</array>
	</property>
</bean>


<!-- 开启事务 -->
<!-- 配置事务管理器，使用JDBC,Higernate,JTA,。。框架应该选择相应的事务管理器 -->
<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 事务管理要知道如何连接数据库，因此要将数据源注入到此类中
		  	引用的config/spring/applicationContext-dao.xml中的dataSourse
		   -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
<!--3 配置mapper的扫描器 
	org.mybatis.spring.mapper.MapperScannerConfigurer.class -->		
<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	<!-- 设置mapper的扫描包，若有多个包扫描，中间用半角逗号隔开 -->
	<property name="basePackage" value="com.sm1.mapper"/>
	<!--  -->
	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
</bean>	
	
	<!--声明使用spring的aop功能 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- 开启注解功能 @Service 注解Service类 -->
    <context:component-scan base-package="com.sm1.service"/>
    <!-- 扫描切入包 @AsPect -->
    <context:component-scan base-package="com.sm1.aspect"/>	
    
</beans>